@{
    ViewData["Title"] = "Apagar Confirmação de Contato";
}

<div class="text-center">
    <h3>Deseja realmente apagar o contato (Anderson Vanin)?</h3>
</div>
<a class="btn btn-primary" role="button">Cancelar Exclusão</a>
<a class="btn btn-danger" role="button">Confirma Exclusão</a>